<?xml version="1.0"?>
<!--

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<event name="bhartendukumar_category_attribute_add_update_after">
<observer name="bhartendukumar_category_attribute" instance="Bhartendukumar\Attribute\Observer\CategoryAttributeAddUpdateAfter" />
</event>
</config>
